{
  "extends": "airbnb",
  "rules": {
    "no-plusplus": "off",
    "no-param-reassign": ["error", { "props": false }],
    "prefer-template": "off",
    "no-underscore-dangle": "off"
  },
  "env": {
    "browser": true
  }
}
